@import "./src/shared.scss";

.sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  color: black;
  transform: translateX(-100%);
  transition: ease-in-out 300ms transform;
  width: 300px;
  font-weight: normal;

  &-close {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 16px;
  }

  &__item {
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    border-radius: 5px;

    &-wrapper {
      padding: 100px 0;

      li {
        padding-right: 30px;
        padding-left: 30px;
      }
    }

    &-arrow {
      svg {
        rotate: 270deg;
      }
    }

    &:hover,
    &--hover {
      font-weight: 500;
      border-left: 3px solid $purple;
      background-color: rgba($purple, 0.1) ;
    }
  }

  &__subcategory {
    position: absolute;
    top: 100px;
    left: 300px;
    font-weight: normal;
    background-color: $white;
    min-width: 250px;
    height: calc(100vh - 100px);
    border-radius: 0px 10px 0px 0px;
    box-shadow: inset 0 -0.1em 0.1em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.1em 0.1em 0.1em rgba(0,0,0,0.3);
    & > li {
      padding: 20px 20px;
      cursor: pointer;

      &:hover {
        font-weight: 500;
      }
    }
  }

  &__subcategory-mobile {
    padding: 100px 0;

    li {

      &:first-child {
        display: flex;
        font-weight: bold;
      }
      padding: 20px 32px;

      svg { rotate: 90deg;}

      p { margin-left: 15px; }
    }
  }
}

.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.overlay {
  position: fixed;
  z-index: 999;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  display: none;
}

.overlay-show {
  display: block;
}


.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}
