*,
*::before,
*::after { 
  box-sizing: border-box; 
  outline: none;
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}

button,
[type="button"],
[type="reset"],
[type="submit"] { 
  background-color: transparent; 
  color: inherit; 
  border-width: 0; 
  padding: 0; 
  cursor: pointer;
}

img { max-width: 100%; }

input { 
  &::-moz-focus-inner {
    border: 0; 
    padding: 0; 
    margin: 0;
  }  
}

ul, 
ol, 
dd { 
  list-style: none;
}