%d-flex-center,
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%d-justify-center,
.d-justify-center {
  justify-content: center;
}

%d-align-center,
.d-align-center {
  align-items: center;
}

